# Python venv
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

# Playwright cache (opcjonalnie)
.ms-playwright/
backend/__pycache__/
backend/services/__pycache__/
backend/api/__pycache__/
